*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 500px){
    .display-box{
        border: 1px solid black;
        margin: 0;
        width: 100%;
    }
    .quote{
        width: 100%;
    }
}

body{
    background-color: beige;
}

.main-header{
    background-color: aliceblue;
    padding: 1rem;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.form-item{
    margin: 0.5rem;
}

#input{
    padding: 6px;
}

.display-box{
    margin: auto;
    width: 50%;
}

.quotes-items{
    list-style: none;
}

.quote{
    border: 1px solid black;
    margin: 1rem 0;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 20px;
}

.content{
    margin: 1rem 0 1rem 1rem;
    text-align: right;
    display: flex;
    justify-content: end;
    font-family: cursive;
    font-size: 1.25rem;
}
